@import 'theme-variables';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    color: #333;
    text-decoration: none;
    transition: .3s;
}
img{
    max-width: 100%;
    vertical-align: middle;
}

// Background 
.bg{
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    color: $white;
    &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #111;
        left: 0;
        top: 0;
        z-index: -1;
        opacity: .85;
    }
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.btn{
    display: inline-block;
    text-transform: capitalize;
    font-size: 18px;
    border-radius: 7px;
    color: #fff;
    position: relative;
    z-index: 2;
    overflow: hidden;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    &:hover{
        &:before{
            top: 0;
        }
    }
    &:before{
        position: absolute;
        content: "";
        background-color: #eb5c5c;
        width: 100%;
        height: 100%;
        left: 0;
        top: -100%;
        transition: .3s;
        z-index: -1;
    }
    &.btn-primary{
        background-color: $primary_color;
        padding: 15px 30px;
    }
    &.btn-secondary{
        border: 2px solid $primary_color;
        padding: 13px 30px;
        &:hover{
            border-color: #eb5c5c;
        }
    }
}
.pt-80{
    padding-top: 80px;
}
.pb-80{
    padding-bottom: 80px;
}
.mt-30{
    margin-top: 30px;
}