.about {
    &__subtitle {
        font-size: 20px;
        text-transform: capitalize;
        font-weight: 500;
        margin-top: 60px;
        margin-bottom: 10px;
        display: block;
    }
    &__title {
        font-size: 35px;
        line-height: 45px;
        text-transform: capitalize;
    }
    &__subtitle {
        color: $primary_color;
    }
    &__desc {
        margin: 20px 0;
    }
    &__item {
        display: block;
        margin-bottom: 10px;
        i {
            color: $primary_color;
        }
    }
    &__btn{
        margin-top: 15px;
    }
    &__top {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 30px;
        margin-top: 0;
        @include min-small {
            flex-direction: row;
            margin-top: -100px;
        }
    }
    &__text {
        position: absolute;
        background-color: $primary_color;        
        color: #fff;        
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 700;
        padding-top: 50px;
        border: 5px solid $white;
        width: 200px;
        height: 200px;
        left: -10px;
        bottom: -25px;
        @include min-small{
            width: 250px;
            height: 250px;
            left: -50px;
            bottom: -100px;
            font-size: 60px;
            line-height: 60px;
            padding-top: 65px;
        }
    }
}


.about-bottom {
    border-top: 1px solid #ddd;
    padding: 50px 0;
    &__single {
        text-align: center;
        box-shadow: 0px 0px 50px 11px rgba(95, 138, 236, 0.05);
        padding: 20px 15px;
        border-bottom: 3px solid transparent;
        transition: .3s;
        i {
            border: 1px solid $primary_color;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 50%;
            font-size: 18px;
            color: $primary_color;
        }
        &:hover {
            border-color: $primary_color;
        }
    }
    &__title {
        text-transform: capitalize;
        font-size: 26px;
        font-weight: 500;
        margin: 10px 0;
    }
}

.single_about {
    box-shadow: 10px 10px 120px 0 rgba(73, 74, 84, 0.1);
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    border-left: 3px solid $primary_color;
  }
  .single_about i {
    color: $primary_color;
    font-size: 25px;
    margin-right: 20px;
  }
  .single_about h4 {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 600;
  }
  .single_about p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
  }
  
  .about__right-img {
	position: relative;
	margin-left: 40px;
}
  .about__right {
    position: relative;
  }
  .about__right span {
    background-color: #2fa78f;
    color: #fff;
    text-align: center;
    font-size: 50px;
    padding: 20px 30px;
    font-weight: 700;
    display: inline-block;
    position: absolute;
    z-index: 9;
    left: 0;
    top: -80px;
    line-height: 55px;
    border-radius: 25px;
  }
  .about__right-img img:nth-child(2) {
	position: absolute;
	right: -100px;
	bottom: -130px;
    display: none;
    @include min-small{
        display: block;
    }
}
.about__right-img img {
	border: 3px solid $primary_color;
	border-radius: 12px;
}