.team{
  background-position: center;
  background-size: cover;
  background-color: #fef7f4;
  &__single {
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 10px 10px 120px 0 rgba(73,74,83.99999999999999,.1);
  }
  &__img {
    padding-top: 100%;
    background-size: cover;
    background-position: center;
  }
  &__content {
    text-align: center;
    padding: 10px 16px 24px;
  }
  &__desg {
    display: block;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    margin-top: 5px;
  }
  &__title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
  }
}